body{
    margin:0px;
    padding:20px;
}

h1{
    text-align:center;
    text-decoration: underline;
}

img{
    width:90%;
    height:auto;
    margin: 0 auto;
    
}

p{
    font-size: 18px;
    text-align: justify;
}

.btn{
    width:20px;
    height:20px;
    display:inline-block;
    border:solid rgb(128, 0, 21) 2px;
    border-radius: 50%;
    cursor: pointer;

}

#white{
    background-color: aliceblue;

}
#aqua{
   background-color: aqua;
}
#violet{
    background-color: violet;

}
#black{
    background-color: black;

}
#color-switch{
    text-align: right;
}